*
body{ margin: 0; padding: 0; width: 900px ; font-family: 'Poppins', sans-serif; background-color: #AAAAAA;;} 
.navbar{width: 1000px;  background-color: #E02C6D; }


.influencer{ display: grid; 
grid-template-columns: repeat(2, 1fr ); width: 900px; margin: 5px 10px; padding: 5px 10px; justify-content: center; align-items: center;}

.menu ul { list-style: none;}
.menu ul li{ display: inline-flex;}
.menu ul li a{ text-decoration: none; color: black; margin-right: 10px; padding: 10px 5px;} 
.menu  .fa-search { margin-right: 0px; padding: 10px 5px; cursor: pointer;}
.menu  .fa-shopping-cart { margin-right: 0px; padding: 10px 5px; cursor: pointer;}  
.menu{display: flex; flex-direction: column;}


/* Header Section Style */


.header{width: 900px; display: grid; grid-template-columns: repeat(2, 1fr); justify-content: center; align-items: center; margin: 10px 40px;}
.header-left{display: flex; flex-direction: column; justify-content: center; height: 415px; width: 440px;}
.header-left h1{color: #3A3A3A;}
.button{width: 130px; height: 30px; background-color: #E02C6D; border-radius: 20px; color: black}
.fa-arrow-right{color: #fff; width: 50px; margin: 2px -30px;}
.header-right img{width: 440px; margin: 0px 10px; padding: 0px 10px;}


/* Logo Section style */
.hrup{ width: 90%; height: 1px; color: darkgray; }
.logo{display: grid; grid-template-columns: repeat(7, 1fr);
justify-content: center; justify-items: center; margin: 20px 30px;}
.hrdown{ width: 90%; height: 1px; color: darkgray; }

/* =============product collection ==========*/
.populer-collection{ width: 900px; margin: 40px 10px; margin-left: 50px; background-color: rgba(231, 148, 213, 0.466);}
.product-collection{ text-align:center; color: #3A3A3A;}
.product{display: grid; grid-template-columns: repeat(3, 1fr);}
.product-detail{display: flex; flex-direction: column; width: 330; height: 476px; background-color: #FFFFFF; margin: 5px 5px; padding: 5px 5px;} 
.product .product-detail img{width: 250px; height: 256px; border-radius: 5px; padding: 5px 5px; margin: 5px 5px;}
.product .product-detail h3{margin-bottom:  2px; margin-right: 10px; padding-right: 10px; padding-top: 0px;}
.product .product-detail h4{margin-top:  2px; margin-bottom: 0px; 
    padding: 0px;}
.product-detail .shifting-information {color: #787885 ; margin-top: 5px; margin-bottom: 5px;}
.rating{display: flex; flex-direction: row; width: 140px; justify-content: space-around; align-items: center; margin: 0px 0px;}
.rating.rating-satr{margin-top: 2px; margin-bottom: 0px; padding: 0px;}
.rating p{margin-top: 17px; color: #787885;}
.rating-satr{display: grid; grid-template-columns:repeat(5, 1fr); color: gold;}
/* .button-seemore{width: 100px; height: 30px; background-color: #E02C6D; border-radius: 10px; color: black;} */
.button-see{ width: 100px; height: 30px; background-color: #E02C6D; border-radius: 10px; color: black; float:right; margin-right: 10px; padding-right: 10px;}
.button-seemore .fa-arrow-right{float: right; color: #fff; width: 100px; margin: 10px -180px;}



/* extra-section-style */

.extar-section{width: 950px; margin: 30px 10px; padding: 10px 10px; background-color: hotpink; }
.extra-headline {align-items: center; padding: 0px auto
    ; margin-left: 340px;}
.extra-headline h3 { text-align: center; align-items: center; padding: 0px auto; }
.valentaine{display: grid; grid-template-columns: repeat(2, 1fr);}

.extra-headline{background-color: #E02C6D; width: 300px; border-radius: 5px; color: floralwhite;}
.love-card{width: 450px; background-color: ivory; padding: 0px 10px; border-radius: 5px; margin-right: 10px;}
.get-offer{background-color: #E02C6D; width: 400px; text-align: center; border-radius: 5px;}
.information {width: 450px; background-color: ivory; padding: 0px 10px; border-radius: 5px; margin-right: 10px;}
.offer-condition{background-color: #E02C6D ; text-align: center; border-radius: 5px;}
.form{width: 350px;}

/* footer section style */
.footer{ display: flex; flex-direction: column; width: 1000px; height: 150px; background-color: #0A0826; justify-content: center; align-items: center;}
.footer h3 {color: honeydew; margin-top: 5px; margin-bottom: 2px;}
.footer .Copyright{color: honeydew; margin-top: 5px; margin-bottom: 2px;}
.icon{display: grid; grid-template-columns: repeat(4,1fr); padding: 0 auto;
   color: ivory; justify-content: center; align-items: center; width: 100px;
    }

/*================= animation-style ==================*/
.btn a{
    position: relative; color: #f5f5f5; height: 70px; width: 400px; display: block;  text-align: center;  border-radius: 10px;  text-decoration: none;
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  }
  .btn a:hover{ animation: rotate 0.4s linear infinite; }
  @keyframes rotate {
    100%{
      filter: hue-rotate(-360deg) }}
  .btn a span{ height: 88%;  width: 96%;  background: rgb(91, 104, 98);
    display: block;   position: absolute;  top: 50%;  left: 50%;
    border-radius: 6px;  line-height: 62px;  font-size: 20px;
    transform: translate(-50%, -50%);}


        /* ============meida-quaries============== */


       
        @media only screen and (max-width: 688px){
            .navbar{width: 100%;}

             .influencer{width: 100%;}
             .head-cointainer{width: 100%;}
             .logo-cointainer{width:100%;}
             .main-cointainer{width: 100%;}
             .extra-cointainer{width: 100%;}
             .footer-cointainer{width: 100%;}

             .influencer, .header, .product, .valentaine{ grid-template-columns: repeat(1, 1fr); justify-content: center; align-items: center;}
             .logo{grid-template-columns:repeat(2,1fr)}
            
     
             /* tablate-media */
             @media  only screen and (min-width: 688px) and (max-width: 992px){
     
                .navbar{width: 100%;}
                .influencer{width: 100%;}
                .head-cointainer{width: 100%;}
                .logo-cointainer{width:100%;}
                .main-cointainer{width: 100%;}
                .extra-cointainer{width: 100%;}
                .footer-cointainer{width: 100%;}

             .influencer, .header, .product, .valentaine{ grid-template-columns: repeat(2, 1fr); justify-content: center; align-items: center;}
             .logo{grid-template-columns:repeat(3,1fr);}
        